.example-header-image {
    background-image: url('../../../assets/dummy-user.png');
    background-size: cover;
  }

.font-titilium{
  font-family: 'Titillium Web', sans-serif;
}

.current-wrapper{
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  border: 7px solid #1BBA6A;
  border-radius: 9px;
  position: relative;
}
.content-current{
  position: relative;
}

.wrap-elements{
 display: inline-flex;
}

.current-header{
  color:#ff9900;
  font-size: 24px;
  font-weight: bolder;
}

.current-info{
  color: #470000;
  font-size: 16px;
}

.wrap-child-width{
  width: 300px;

}
.wrap-child-width p{
  margin-right: 30px;
  margin-left: 30px;

}

.wrap-elements{
  margin-bottom: 25px;
  margin-top: 25px;
}

#info-header {
  border-radius: 9px;
  background: linear-gradient(90deg, rgba(17,142,79,1) 0%, rgb(27, 186, 106) 25%,
  rgb(29, 209, 118) 50%, rgba(31,230,129,1) 75%, rgba(33,255,143,1) 100%);
  position: relative;
}

