<div class="grid-container">
  <h1 class="mat-h1">Home</h1>
  <mat-grid-list cols="2" rowHeight="330px">

    <mat-grid-tile rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header style="color: #470000">Statistics
          <mat-card-title style="color: #470000">User
          </mat-card-title>
        </mat-card-header>

      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header style="color: #470000">
          <mat-card-title style="color: #470000">
          </mat-card-title>
        </mat-card-header>

      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
