<div class="grid-container">
  <h1 class="mat-h1">Home</h1>
  <mat-grid-list cols="2" rowHeight="330px">

    <mat-grid-tile rowspan="2">
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>of WORDERIZE
          <mat-card-title>Current Statistics
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="stats" *ngIf="customerCount != null">
          <div id="customer" routerLink="/nav-administrator/admin-customer-operations" class="wrapper mat-elevation-z8">
            <div class="left-space font-titilium" style="display: inline-flex">
              <div class="number" style="--from: 0; --to:{{customerCount.count}}; --duration: 2s;"></div>
              <i class="user-type-icon fa fa-users"></i>
              <span class="user-type-span">Customer</span>
            </div>
          </div>
        </mat-card-content>
        <mat-card-content class="stats" *ngIf="workerCount != null">
          <div id="worker" routerLink="/nav-administrator/admin-worker-operations" class="wrapper mat-elevation-z8">
            <div class="left-space font-titilium" style="display: inline-flex">
              <div class="number" style="--from: 0; --to:{{workerCount.count}}; --duration: 2s;"></div>
              <i class=" user-type-icon fa fa-users"></i>
              <span class="user-type-span">Worker</span>
            </div>
          </div>
        </mat-card-content>
        <mat-card-content class="stats" *ngIf="activeCount != null">
          <div id="active-work-order" routerLink="/nav-administrator/admin-customer-operations"
            class="wrapper mat-elevation-z8">
            <div class="left-space font-titilium" style="display: inline-flex">
              <div class="number" style="--from: 0; --to:{{activeCount.count}}; --duration: 2s;"></div>
              <i class="user-type-icon fa fa-users"></i>
              <span class="user-type-span">Active Work Orders</span>
            </div>
          </div>
        </mat-card-content>
        <mat-card-content class="stats" *ngIf="totalDoneWorkOrderCount != null">
          <div id="worker" routerLink="/nav-administrator/admin-worker-operations" class="wrapper mat-elevation-z8">
            <div class="left-space font-titilium" style="display: inline-flex">
              <div class="number" style="--from: 0; --to:{{totalDoneWorkOrderCount.count}}; --duration: 2s;"></div>
              <i class=" user-type-icon fa fa-users"></i>
              <span class="user-type-span">Total Completed Work Orders</span>
            </div>
          </div>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan="2">
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>