<div class="grid-container">
  <h1 class="mat-h1">Profile</h1>
  <mat-grid-list cols="2" rowHeight="360px">


    <mat-grid-tile colspan="2">
      <mat-card class="dashboard-card mat-elevation-z8 customer-profile-back">
        <mat-card-header>
          <mat-card-title>User Profile
          </mat-card-title>
        </mat-card-header>
        <!-- Show user data when logged in -->
        <div id="user-wrapper" *ngIf="authService.userData as user">
          <div style="display: inline-flex">
            <div>
              <img id="usr-img" class="img-fluid" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">

            </div>
            <div id="info-wrapper">
              <h1>Hello... <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
              <p><span class="user-info">User ID |</span> <strong style="margin-left: 5px">{{user.uid}}</strong></p>
              <br>
              <p><span class="user-info">E-mail |</span> <strong style="margin-left: 5px">{{user.email}}</strong></p>
              <br>
              <p><span class="user-info">E-mail Verified |</span> <strong
                  style="margin-left: 5px">{{user.emailVerified}}</strong></p>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <br><br>

  <p id="done-p" class="mat-elevation-z8">Done Work Orders</p>
  <app-customer-done-workorders-table></app-customer-done-workorders-table>

</div>
