<mat-form-field class="example-form-field">
    <mat-label>Enter a New Work Type</mat-label>
    <input matInput type="text" #addName value="{{addName.getValue}}">
  </mat-form-field>

<div class="example-button-container">
    <button mat-fab color="primary" (click)="addJobType(addName.value)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Job Type Name Column -->
    <ng-container matColumnDef="workType">
      <th mat-header-cell *matHeaderCellDef> Job Type </th>
      <td mat-cell *matCellDef="let element"> {{element.workType}} <button mat-raised-button color="warn" (click)="deleteJobType(element.id)"> Delete</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
