<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav nav-back" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="position:relative;">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item class="menu-nav" mat-list-item [routerLink]="['initial-page-administrator']"><span><i style="margin-right: 10px;font-size: 20px" class="fa fa-home"></i></span>Home</mat-list-item>
      <mat-list-item class="menu-nav" mat-list-item [routerLink]="['admin-worker-operations']"><span><i style="margin-right: 10px;font-size: 20px" class="fa fa-users-cog"></i></span>Worker Operations</mat-list-item>
      <mat-list-item class="menu-nav" mat-list-item [routerLink]="['admin-customer-operations']"><span><i style="margin-right: 10px;font-size: 20px" class="fa fa-users"></i></span>Customer Operations</mat-list-item>
      <mat-list-item class="menu-nav" mat-list-item [routerLink]="['district-jobtype-operations']">
        <span><i style="margin-right: 10px;font-size: 20px" class="fa fa-map-marked-alt"></i></span>District and Job Type Operations</mat-list-item>
      <mat-list-item class="menu-nav" mat-list-item [routerLink]="['admin-active-work-orders']"><span><i style="margin-right: 10px;font-size: 20px" class="fa fa-hourglass-half"></i></span>Active Work Orders</mat-list-item>
      <mat-list-item class="menu-nav" mat-list-item [routerLink]="['admin-completed-work-orders']"><span><i style="margin-right: 10px;font-size: 20px" class="fa fa-clipboard-check"></i></span>Completed Work Orders</mat-list-item>
      <a style="position:relative;" class="nav-link" (click)="authService.SignOut()">
        <i style="margin-right: 10px;font-size: 20px" class="fas fa-sign-out-alt"></i>Log out
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color:#e2e2e2 ">
    <mat-toolbar style="background-color: #470000">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="color: white"><img src="/assets/worderizelogonav.png" style="height: 50px; margin-top: 12px;"> <span style="color:#ff9900; margin-right: 10px;"> | </span> Administrator</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
