<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Sign Up</h3><button *ngIf ="isWorker !== true" mat-button color="accent" (click)="showCustomerForm()">Sign-Up as Worker</button><button *ngIf ="isWorker === true" mat-button color="accent" (click)="showCustomerForm()">Sign-Up as Customer</button>

      <app-signup-customer-form *ngIf = "isWorker !== true"></app-signup-customer-form>
      <app-signup-worker-form *ngIf = "isWorker === true"></app-signup-worker-form>
      <br>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>

      <!-- Continue with Facebook -->
      <div class="formGroup">
       <!-- <button type="button" class="btn facebookBtn" (click)="authService.FacebookAuth()">
          <i class="fab fa-facebook"></i>
          Continue with Facebook
        </button>-->
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>
  </div>

</div>
