<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock" style="border-radius: 9px">
      <h3 class="font-family-angular" style="font-size: 35px;color: #470000">Sign Up</h3>

      <app-signup-customer-form *ngIf = "isWorker !== true"></app-signup-customer-form>
      <app-signup-worker-form *ngIf = "isWorker === true"></app-signup-worker-form>
      <br>


      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <button style="background-color: orange;color: #470000" type="button" *ngIf="isWorker !== true" class="btn" (click)="showCustomerForm()">
        <i class="fa fa-truck" style="font-size: 20px"></i>
        Sign-Up as Worker
      </button>

      <button style="background-color: orange;color: #470000" type="button" *ngIf="isWorker === true" class="btn" (click)="showCustomerForm()">
        <i class="fa fa-user-circle" style="font-size: 20px"></i>
        Sign-Up as Customer
      </button>


      <!-- Continue with Facebook -->
      <div class="formGroup">
       <!-- <button type="button" class="btn facebookBtn" (click)="authService.FacebookAuth()">
          <i class="fab fa-facebook"></i>
          Continue with Facebook
        </button>-->
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>
  </div>

</div>
