<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title style="color: #470000">
        Can I choose only one region when signing up?
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>No. You can select more than one region. Our program is currently suitable for the following regions: Yenimahalle, Bilkent, Mamak, Ã‡ankaya, Kazan.</p>
  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title style="color: #470000">
        Can I only choose one suitable job type?
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>You can select more than one suitable job type during registration.
      You can currently select the following services:
      Security, Cleaning, Recondition, Health, Paint, Maintenance, Transportation.</p>
  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title style="color: #470000">
        How can I get a work order?
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>After successfully logging into the system,
      you can view, filter and get the job suitable for you by pressing
      the get worder button from the navigation bar.</p>
  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title style="color: #470000">
        Where can I view the work I have taken over?
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>You can view the work you have received by pressing the get worder button from the navigation bar.</p>
  </mat-expansion-panel>


  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title style="color: #470000">
        How we can contact you?
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>You can contact us from the Contact section of the Navigation bar.</p>
  </mat-expansion-panel>
</mat-accordion>


  <a class="inner-link" routerLink="/nav/contact-customer" style="position: absolute;">
    <span><b>Contact Us</b></span>
  </a>


