<div class="grid-container">
  <h1 class="mat-h1">Worder</h1>
  <mat-grid-list cols="2" [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="340px">
    <mat-grid-tile rowspan="2">
      <mat-card class="dashboard-card mat-elevation-z8 create-back">
        <mat-card-header>
          <mat-card-title>Create Work Order
          </mat-card-title>
        </mat-card-header>
        <app-create-workorder-form></app-create-workorder-form>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Your Work Orders
          </mat-card-title>
        </mat-card-header>
        <div style="width: 100%; height: 100%">
          <div style="display:block; height: inherit !important">
            <app-customer-workorders-table></app-customer-workorders-table>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="" rowHeight="490px">
    <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title style="color: #ff9900;font-weight: bolder;font-size: 24px">Rules
          </mat-card-title>
        </mat-card-header>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #470000">
                <span style="font-weight: bolder;font-size: 20px">Rule 1 </span>: Job Creation
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <p style="color: #ff9900;font-size: 17px">While creating a WORDER, please do not give WORDER which is
              impossible
              to done. Please select appropriate job field according to your WORDER, otherwise you cannot find any
              worker to get your job done.</p>
          </mat-expansion-panel>


          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #470000">
                <span style="font-weight: bolder;font-size: 20px">Rule 2 </span>: Be Gentle
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <p style="color: #ff9900;font-size: 17px">Be polite to the workers while they are doing their job. Worderize
              is very strict in this regard and takes user feedback into consideration.</p>
          </mat-expansion-panel>


          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #470000">
                <span style="font-weight: bolder;font-size: 20px">Rule 3 </span>: Do Not Mix The Work Orders
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <p style="color: #ff9900;font-size: 17px">When any worker come to do WORDER you give, please do not ask
              for any other job because worker's schedule may not available for additional jobs so create another WORDER instead.</p>
          </mat-expansion-panel>


          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #470000">
                <span style="font-weight: bolder;font-size: 20px">Rule 4 </span>: Worker Privacy
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <p style="color: #ff9900;font-size: 17px">After finishing the WORDER, do not contact the worker
              who is got your job or do not save the worker’s information for personal situations.</p>
          </mat-expansion-panel>


          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #470000">
                <span style="font-weight: bolder;font-size: 20px">Rule 5 </span>: Let Us Know
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <p style="color: #ff9900;font-size: 17px">If you are in trouble with any worker to do your WORDER, please
              let us know with using the contact page so we can take an action about this situation. We do not want to
              work with that kind of workers in our platform.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
