.grid-container {
  margin: 20px;
  color: #470000;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-card-header, mat-card-title{
  color: #470000;
}

/* Mat Card Background with Opacity */

.create-back:before{
  content: "";
  background-image: url("src/assets/create-back-1.jpg");
  background-size: cover;
  border-radius: 9px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
