<div class="grid-container">
  <h1 class="mat-h1">Work Orders</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>Create Work Order
          <mat-card-title>Form
          </mat-card-title>
        </mat-card-header>
        <app-create-workorder-form></app-create-workorder-form>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>Active Work Orders
          <mat-card-title>List
          </mat-card-title>
        </mat-card-header>
        <app-workorders-table></app-workorders-table>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header> 
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
