<div class="grid-container">
  <h1 class="mat-h1">Worder</h1>
  <mat-grid-list cols="2" rowHeight="340px">
    <mat-grid-tile rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header style="color: #470000">Create Work Order
          <mat-card-title style="color: #470000">Form
          </mat-card-title>
        </mat-card-header>
        <app-create-workorder-form></app-create-workorder-form>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>

      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
