<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock" style="border-radius: 9px">
      <h3 style="font-size: 35px;color: #470000">Sign In</h3>

      <br><br>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" *ngIf="isWorker !== true" class="btn btnPrimary" value="Log in as Customer"
          (click)="authService.SignIn(userName.value, userPassword.value, 'customer')">

        <input type="button" *ngIf="isWorker === true" class="btn btnPrimary" value="Log in as Worker"
          (click)="authService.SignIn(userName.value, userPassword.value, 'worker')">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google"></i>
          Log in with Google
        </button>
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <button style="background-color: orange;color: #470000" type="button" *ngIf="isWorker !== true" class="btn" (click)="showCustomerForm()">
        <i class="fa fa-truck" style="font-size: 20px"></i>
        Sign-in as Worker
      </button>

      <button style="background-color: orange;color: #470000" type="button" *ngIf="isWorker === true" class="btn" (click)="showCustomerForm()">
        <i class="fa fa-user-circle" style="font-size: 20px"></i>
        Sign-in as Customer
      </button>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
    </div>

  </div>
</div>
