<!-- Navbar -->
<div class="nav-container">
  <nav id="nav-content" class="overlay-nav show-content">
    <div class="container">
      <div class="indus">
        <div class="row">
          <div style="display: inline-flex;" class="col-md-2 vertical-aligner">
            <a class="inner-link worderizeNavbar" href="#mainpage" href="#first">
              <img src="/assets/worderizelogo.png" class="worderizeLogo" style="float: center; text-align: center;">
            </a>
            <label for="smallmenu" class="menulabel hidden hiddenul">
              <i class="fa fa-bars btnbar hidden hiddenul menu row vertical-aligner"
                 style="margin-top: 5px; margin-left: auto;height: 25px;width: 60px;"></i>
            </label>
            <br>
          </div>
          <input id="smallmenu" type="checkbox" style="display: hidden;">
          <div class="test hidden hiddenul">
            <ul class="row vertical-aligner hidden hiddenul small-menu-ul" style="display: block;">
              <h1 class="inner-link toggleLink hiddenmenu">
                <b style="color: #ff9900;font-size: 24px">MENU</b>
              </h1>
              <hr class="new1">
              <li class="nav-bar-item hiddenmenu">
                <a class="inner-link toggleLink" href="#services">
                  <span>SERVICES</span>
                </a>
              </li>
              <li class="nav-bar-item hiddenmenu">
                <a class="inner-link toggleLink" href="#whyus">
                  <span>WHY US?</span></a>
              </li>
              <li class="nav-bar-item hiddenmenu">
                <a class="inner-link toggleLink" href="#aboutus">
                  <span>ABOUT US</span>
                </a>
              </li>
              <li class="nav-bar-item hiddenmenu">
                <a class="inner-link toggleLink" routerLink="/contact-page">
                  <span>CONTACT</span>
                </a>
              </li>
              <li class="nav-bar-item hiddenmenu">
                <a class="inner-link toggleLink" routerLink="/sign-in">
                  <span><b>LOG IN</b></span>
                </a>
              </li>
              <li class="nav-bar-item hiddenmenu" style="margin-bottom: 5px;">
                <a class="inner-link toggleLink" routerLink="/register-user">
                  <span><b>SIGN UP</b></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="col-md-10 text-right vertical-aligner">
            <ul class="menu row vertical-aligner">
              <li class="has-dropdown nav-bar-item col-sm-2">
                <a class="inner-link " href="#services">
                  <span>SERVICES</span>
                </a>
              </li>
              <li class="col-sm-2 nav-bar-item">
                <a class="inner-link" href="#whyus"><span>WHY US?</span></a>
              </li>
              <li class="col-sm-2 nav-bar-item">
                <a class="inner-link" href="#aboutus">
                  <span>ABOUT US</span>
                </a>
              </li>
              <li class="col-sm-2 nav-bar-item">
                <a class="inner-link" routerLink="/contact-page">
                  <span>CONTACT</span>
                </a>
              </li>
              <li class="col-sm-2 nav-bar-item">
                <a class="inner-link" routerLink="/sign-in">
                  <span><b>LOG IN</b></span>
                </a>
              </li>
              <li class="col-sm-2 nav-bar-item">
                <a class="inner-link" routerLink="/register-user">
                  <span><b>SIGN UP</b></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- End Navbar -->
<!-- first contact form
        <div>
            <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                Name
                <input [formControl]="name" required>
                Email
                <input [formControl]="email" placeholder="email@example.com" required>
                Message
                <textarea [formControl]="message" maxlength="256" placeholder="I'm interested in..."
                    required></textarea>
                <button [disabled]="isLoading" class="submit" type="submit">Submit</button>
                <input [formControl]="honeypot" class="hidden" type="text" />
                <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                    <span>{{responseMessage}}</span>
                </div>
            </form>
        </div>
        end first contact form-->
<div class="displayTable shadow-contact" style="background-color: #96031a;">
    <div class="displayTableCell">
        <div class="authBlock shadow-contact" style="border-radius: 9px">
            <div class="formGroup">
                <h3 style="font-size: 35px;color: #470000">Contact Us</h3>
                <form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                    <input class="formControl" style="color: #96031a;" placeholder="Name" input [formControl]="name" required>
                    <input class="formControl" placeholder="email@example.com" input [formControl]="email" required>
                    <textarea [formControl]="message" maxlength="512" class="formControl" style="min-height: 250px; max-height: 250px;" placeholder="I have worried about..." required></textarea>
                    <button [disabled]="isLoading" style="background-color: orange;color: #470000" type="submit" class="btn">
                    Send Message
                    </button>
                    <input [formControl]="honeypot" class="hidden" type="text" />
                    <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
                        <span>{{responseMessage}}</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
