
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #ff9900 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #ff9900 !important;;
}


::ng-deep .mat-snack-bar-container{

}
::ng-deep .mat-simple-snackbar-action {
  color: #ff9900;
}
