<form class="example-form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput type="text" name="name" ngModel>
  </mat-form-field>
  <br><br>
  <mat-form-field class="example-full-width">
    <mat-label>Surname</mat-label>
    <input matInput type="text" name="surname" ngModel >
  </mat-form-field>
  <br><br>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" name="email" ngModel matInput [formControl]="emailFormControl" >
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br><br>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input type="password" name="password" ngModel matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br><br>
  <mat-form-field class="example-full-width">
    <mat-label>Telephone</mat-label>
    <span matPrefix>+90 &nbsp;</span>
    <input type="tel" name="telephone" ngModel matInput placeholder="534-283-22-05">
    <mat-icon matSuffix>home</mat-icon>
  </mat-form-field>
  <br><br>
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="city">
      <mat-option *ngFor="let city of cities" [value]="city.value">
        {{city.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br><br>
  <button type="submit" mat-raised-button color="primary">Sign-up</button>
  </form>