<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav nav-back" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="position:relative;">Menu</mat-toolbar>
    <mat-nav-list>
      <a class="menu-nav" mat-list-item [routerLink]="['initial-page-worker']"><span><i style="margin-right: 10px;font-size: 20px" class="fa fa-home"></i></span>Home</a>
      <a class="menu-nav" mat-list-item [routerLink]="['home-worker']"><span><i style="margin-right: 10px;font-size: 20px" class="fa fa-shipping-fast"></i></span>Get Worder</a>
      <a class="menu-nav" mat-list-item [routerLink]="['worker-profile']"><span><i style="margin-right: 10px;font-size: 20px" class="fa fa-user"></i></span>Profile</a>
      <a class="menu-nav" mat-list-item [routerLink]="['contact-worker']"><span><i style="margin-right: 10px;font-size: 20px" class="fa fa-paper-plane"></i></span>Contact</a>
      <a class="menu-nav" mat-list-item [routerLink]="['settings-worker']"><span><i style="margin-right: 10px;font-size: 20px" class="fa fa-cogs"></i></span>Settings</a>
      <a style="position:relative;" class="nav-link" (click)="authService.SignOut()">
        <i style="margin-right: 10px;font-size: 20px" class="fas fa-sign-out-alt"></i>Log out
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color:#e2e2e2 ">
    <mat-toolbar style="background-color: #470000">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="color: white"><img src="/assets/worderizelogonav.png" style="height: 50px; margin-top: 12px;"> <span style="color:#ff9900; margin-right: 10px;"> | </span> Worker</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
