.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.example-form{
  color: #470000 !important;
}


.form-line-height{
  line-height: initial;
}


#version{
  text-align: center;
  font-weight: bolder;
  color: #470000;
  position: relative;
}

mat-card-title,mat-card-header{
  color: #470000;
}

.img-btn-selection{
  width: 95px;
  height: 95px;
  margin: 10px;
}
.img-btn-selection:hover{
  background: #d4d4d4;
  opacity: 0.7;
}

#main-img{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#main-img:hover{
  background: #d4d4d4;
  opacity: 0.7;
}

.right-form{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;

}

.left-form{
  margin-top: 7px;
  margin-bottom: 10px;
  width: 245px;
  margin-right: 10px;
  margin-left: 15px;
}

#update-btn{
  height:50px;
  width: 200px;
  background-color: #ff9900;
  color: #470000;
}

/* Version Background with Opacity */

.version-back:before{
  content: "";
  background-image: url("src/assets/current-back-3.jpg");
  background-size: cover;
  border-radius: 9px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

/*Changing Default Colors*/

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #ff9900!important;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ff9900!important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #ff9900!important;
}

::ng-deep .mat-input-element {
  caret-color: #ff9900!important;
}

::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: #ff9900!important;
}

::ng-deep .mat-form-field-label {
  color: #ff9900 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ff9900!important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #ff9900!important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #ff9900 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #ff9900 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #ff9900 !important;;
}

::ng-deep .mat-snack-bar-container{

}
::ng-deep .mat-simple-snackbar-action {
  color: #ff9900;
}
