<div class="grid-container">
  <h1 class="mat-h1" style="color: #470000;">Settings</h1>
  <mat-grid-list cols="2" rowHeight="165px">
    <mat-grid-tile rowspan="4">
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Under Construction
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3">
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>Frequently Asked Questions
          <mat-card-title style="color: #ff9900!important;">FAQ
          </mat-card-title>
        </mat-card-header>

        <app-faq-customer></app-faq-customer>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <div id="version">
          <p>Version 1.0</p>
          <p>worderize@gmail.com</p>
          <p>© Copyright 2021 | WORDERIZE All rights reserved</p>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
