<!-- Navbar -->
<div class="all" id="first">
  <div class="fixed-nav-bar">
    <nav id="nav-content" class="overlay-nav">
      <div class="container">
        <div class="indus">
          <div class="row">
            <div class="col-md-2">
              <a class="inner-link worderizeNavbar" href="#mainpage" href="#first">
                <span>WORDERIZE</span>
              </a>
            </div>
            <div class="col-md-10">
              <ul class="menu row">
                <li class="col-sm-2">
                  <a class="inner-link navbarItems" href="#services">
                    <span>SERVICES</span>
                  </a>
                </li>
                <li class="col-sm-2">
                  <a class="inner-link navbarItems" href="#whyus"><span>WHY US?</span></a>
                </li>
                <li class="col-sm-2">
                  <a class="inner-link navbarItems" href="#aboutus">
                    <span>ABOUT US</span>
                  </a>
                </li>
                <li class="col-sm-2">
                  <a class="inner-link navbarItems" routerLink="/sign-in">
                    <span><b>LOG IN</b></span>
                  </a>
                </li>
                <li class="col-sm-2">
                  <a class="inner-link navbarItems" routerLink="/register-user">
                    <span><b>SIGN UP</b></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- End Navbar -->

  <!-- Header -->
  <div class="header-div">
    <div class="container bounceInDown" data-wow-duration="5s">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center slide-text">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <p>Worderize is a work order distribution system that just needs where you are and what you want.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <!-- Feature -->
  <div class="services" id="alalim">
    <div class="container" id="services">
      <div class="row">
        <div class="col-md-12">
          <div class="main_heading" id="a">
            <h1 class="head">Some Services</h1>
            <div class="text-center"><span class="underline line"></span></div>
          </div>
        </div>
      </div>
      <div class="row head">
        <div class="col-md-3 col-sm-6">
          <div class="features-div">
            <i class="material-icons wIcon">cleaning_services</i>
            <h4>CLEANING</h4>
            <p>By using Worderize, you can have your home, workplace and warehouse cleaned by professional teams.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="features-div">
            <i class="material-icons wIcon"> airport_shuttle </i>
            <h4>TRANSPORTATION</h4>
            <p>By using Worderize, you can transport your home or business by professional teams that provide
              transportation services.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="features-div">
            <i class="material-icons wIcon">build</i>
            <h4>RENOVATION</h4>
            <p>By using Worderize, you can get repair service by professional teams that provide renovation services.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="features-div">
            <i class="material-icons wIcon"> add_shopping_cart </i>
            <h4>MARKET</h4>
            <p>Using Worderize, you can order your market needs to your home or workplace.</p>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- Macbook div -->
    <div class="more-feature-div">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/Macbook.png">
          </div>
          <div class="col-md-6">
            <div class="more-features-div">
              <div class="more-features-div-icon">
                <i class="fa fa-users"></i>
              </div>
              <h3 class="more-features-div-heading">If you are a customer;</h3>
              <div class="more-features-div-description">
                Just register and write to us what you need and where you need it, so the process can begin.
              </div>
            </div>
            <div class="more-features-div">
              <div class="more-features-div-icon">
                <span class="material-icons"> work </span>
              </div>
              <h3 class="more-features-div-heading">If you are a worker;</h3>
              <div class="more-features-div-description">
                Just register and share your information with us to become a courier and choose your job from the work
                orders received.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Macbook dev -->

  <!-- Why Worderize? -->
  <div id="whyusall">
    <div class="container" id="whyus">
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="main_heading">
            <h1 class="head">Why Worderize?</h1>
            <div class="text-center">
              <span class="underline line"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 why-worderize-box-first col-sm-6">
        <div class="why-worderize-box">
          <i class="material-icons"> chat </i>
          <h4 class="head2">24/7 Support</h4>
          <p class="head2">Worderize provides transportation to your wishes and needs wherever you are and
            provide 24/7 support for your needs.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 why-worderize-box-second">
        <div class="why-worderize-box">
          <i class="material-icons"> mouse </i>
          <h4>Easy to Use</h4>
          <p>Worderize lets you start the process by simply registering and telling what you want and where you want it.
          </p>
        </div>
      </div>
      <div class="col-md-4 why-worderize-box-first col-sm-6">
        <div class="why-worderize-box">
          <i class="material-icons"> how_to_reg </i>
          <h4 class="head2">Professionalism</h4>
          <p class="head2">Worderize categorizes your requests and matches you with whoever is an expert on
            that job and aproved by Worderize.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Why Worderize -->

  <!-- Be an employee -->
  <div id="allemployee" class="allemployee">
    <div class="employee">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="main_heading">
              <h1 class="head2">Be an Employee</h1>
              <div class="text-center"><span class="underline line"></span></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <p class="head2">Just click to the sign up button and fill the necessary fields, we will contact you
            after your membership is approved.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Be an employee -->

  <!-- About -->
  <div id="allabout" class="allabout">
    <div class="container" id="aboutus">
      <div class="row">
        <div class="col-md-12">
          <div class="main_heading">
            <h1 class="head">About us</h1>
            <div class="text-center"><span class="underline line"></span></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 about-us-box fadeInUp animated">
          <div class="about-us-photo">
            <img src="assets/1.jpg">
            <div class="about-us-role"></div>
          </div>
        </div>
        <div class="col-md-4 about-us-box fadeInUp animated">
          <div class="about-us-photo">
            <img src="assets/2.jpg" alt="">
            <div class="about-us-role">SUPPORT</div>
          </div>
          <h3>
            <span class="material-icons"> email </span>
            support@worderize.com
          </h3>
          <p>Do not forget to send us an e-mail for any questions, complaints, suggestions about Worderize.</p>
        </div>
        <div class="col-md-4 about-us-box fadeInUp animated">
          <div class="about-us-photo">
            <img src="assets/3.jpg" alt="">
            <div class="about-us-role"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End About -->

  <!-- Informations -->
  <div class="footer-container">
    <div class="indus">
      <footer class="short footer">
        <div class="row">
          <div class="col-sm-7">
            <h2><span lang-bind="ABOUT_US"></span></h2>
            <p lang-bind="ABOUT">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium sit velit deserunt expedita, quia
              excepturi officiis veritatis enim cumque placeat debitis aliquam. Nulla vero nobis explicabo voluptates
              magni consequatur totam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto illum dolor
              quaerat explicabo alias. Rem, ex perspiciatis nam quia quam dolorem quis nulla sequi, explicabo nostrum
              laboriosam sed iste deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
              asperiores voluptates assumenda excepturi deserunt tempora explicabo molestiae, minima iusto pariatur
              quam earum, quasi magnam rerum sunt blanditiis? Est, eligendi nobis.
            </p>
          </div>

          <div class="col-sm-5">
            <h2 class="footerRight">
              <span lang-bind="CONTACT"></span>
            </h2>
            <ul class="footer-contact">
              <li class="contactlist"><i class="fa fa-home"></i> <span>Address: Üniversiteler
                  Mahallesi 1596 Cadde 5. AR-Ge Binası No: 8B Kat: 3 / 12 Beytepe 06800 Çankaya / Ankara</span></li>
              <li class="contactlist"><i class="fa fa-phone"></i> <span>Phone: +90 312 491 28 13</span></li>
              <li class="contactlist"><i class="fa fa-fax"></i> Fax: +90 312 491 28 13</li>
              <li class="contactlist"><i class="fa fa-envelope-open"></i> <span>Email: info@worderize.com</span></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--End of Informations-->

  <!-- Footer -->
  <div class="copyright">
    <div class="row m-0 lastFooter">
      <div class="col-sm-7">
        © Copyright 2021 | Worderize Aile Şirketi, All rights reserved.
      </div>
      <div class="col-sm-5">
        <a href="https://www.facebook.com/worderize/">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/worderize/">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://tr.linkedin.com/company/worderize/">
          <i class="fa fa-linkedin social-icon"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Footer -->