<!-- Navbar -->
<div class="all" id="first">
    <div class="nav-container">
        <nav id="nav-content" class="overlay-nav show-content">
            <div class="container">
                <div class="indus">
                    <div class="row">
                        <div style="display: inline-flex;" class="col-md-2 vertical-aligner">
                            <a id="logo-op" class="inner-link worderizeNavbar" href="#mainpage" href="#first">
                                <img src="/assets/worderizelogo.png" class="worderizeLogo" style="float: center; text-align: center;">
                            </a>
                            <label for="smallmenu" class="menulabel hidden hiddenul">
                                <i class="fa fa-bars btnbar hidden hiddenul menu row vertical-aligner"
                                style="margin-top: 5px; margin-left: auto;height: 25px;width: 60px;"></i>
                            </label>
                            <br>
                        </div>
                        <input id="smallmenu" type="checkbox" style="display: hidden;">
                        <div class="test hidden hiddenul">
                            <ul class="row vertical-aligner hidden hiddenul small-menu-ul" style="display: block;">
                                <h1 class="inner-link toggleLink hiddenmenu">
                                    <b style="color: #ff9900;font-size: 24px">MENU</b>
                                </h1>
                                <hr class="new1">
                                <li class="nav-bar-item hiddenmenu">
                                    <a class="inner-link toggleLink" href="#services">
                                        <span>SERVICES</span>
                                    </a>
                                </li>
                                <li class="nav-bar-item hiddenmenu">
                                    <a class="inner-link toggleLink" href="#whyus">
                                        <span>WHY US?</span></a>
                                </li>
                                <li class="nav-bar-item hiddenmenu">
                                    <a class="inner-link toggleLink" href="#aboutus">
                                        <span>ABOUT US</span>
                                    </a>
                                </li>
                                <li class="nav-bar-item hiddenmenu">
                                    <a class="inner-link toggleLink" routerLink="/contact-page">
                                        <span>CONTACT</span>
                                    </a>
                                </li>
                                <li class="nav-bar-item hiddenmenu">
                                    <a class="inner-link toggleLink" routerLink="/sign-in">
                                        <span><b>LOG IN</b></span>
                                    </a>
                                </li>
                                <li class="nav-bar-item hiddenmenu" style="margin-bottom: 5px;">
                                    <a class="inner-link toggleLink" routerLink="/register-user">
                                        <span><b>SIGN UP</b></span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-10 text-right vertical-aligner">
                            <ul class="menu row vertical-aligner">
                                <li class="has-dropdown nav-bar-item col-sm-2">
                                    <a class="inner-link " href="#services">
                                        <span>SERVICES</span>
                                    </a>
                                </li>
                                <li class="col-sm-2 nav-bar-item">
                                    <a class="inner-link" href="#whyus"><span>WHY US?</span></a>
                                </li>
                                <li class="col-sm-2 nav-bar-item">
                                    <a class="inner-link" href="#aboutus">
                                        <span>ABOUT US</span>
                                    </a>
                                </li>
                                <li class="col-sm-2 nav-bar-item">
                                    <a class="inner-link" routerLink="/contact-page">
                                        <span>CONTACT</span>
                                    </a>
                                </li>
                                <li class="col-sm-2 nav-bar-item">
                                    <a class="inner-link" routerLink="/sign-in">
                                        <span><b>LOG IN</b></span>
                                    </a>
                                </li>
                                <li class="col-sm-2 nav-bar-item">
                                    <a class="inner-link" routerLink="/register-user">
                                        <span><b>SIGN UP</b></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Header -->
    <div id="vanta">
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
                <div class="slide">
                    <div class="child">
                      <img style="height: 300px" src="assets/various-workers.png">
                      <br><br>
                      <p>Welcome to Worderize</p>
                    </div>
                </div>
                <div class="nav">
                    <label for="img-3" class="prev">&#x2039;</label>
                    <label for="img-2" class="next">&#x203a;</label>
                </div>
            </li>
            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                    <div class="child">
                        <img style="height: 230px" src="assets/slider1.png">
                        <br><br>
                        <p>Don't you have an account?</p>
                        <button class="button onSlider" routerLink="/register-user"><span>Sign-up</span></button>
                    </div>
                </div>
                <div class="nav">
                    <label for="img-1" class="prev">&#x2039;</label>
                    <label for="img-3" class="next">&#x203a;</label>
                </div>
            </li>
            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                    <div class="child">
                      <br>
                      <img style="height: 300px" src="assets/mail-slide.png">
                      <p>If you have any problem please</p>
                      <button class="button onSlider" routerLink="/contact-page"><span>Contact with us</span></button>
                    </div>
                </div>
                <div class="nav">
                    <label for="img-2" class="prev">&#x2039;</label>
                    <label for="img-1" class="next">&#x203a;</label>
                </div>
            </li>
            <li class="nav-dots">
                <label for="img-1" class="nav-dot" id="img-dot-1"></label>
                <label for="img-2" class="nav-dot" id="img-dot-2"></label>
                <label for="img-3" class="nav-dot" id="img-dot-3"></label>
            </li>
        </ul>
    </div>
    <!-- Services -->
    <section id="caback" alt="capabilities" class="speakers duplicatable-content">
        <div class="indus">
            <div class="row services">
                <div class="col-sm-12 servicesHeader">
                    <span>SERVICES</span>
                </div>
            </div>
            <div class="row">
                <div id="" class="col-md-3 col-sm-12 box_industries">
                    <div class="speaker-with-bio content1 ">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" src="assets/newCleaning.png">
                            </div>
                        </div>
                        <div class="speaker-description ">
                            <span>CLEANING</span>
                        </div>
                    </div>
                    <div class="speaker-with-bio content2">
                        <div class="center-aligned">
                            <div class="center-core">
                                <div class="cap-text-head"> <span>CLEANING</span></div>
                                <br>
                                <div class="cap-text">
                                    <p>By using Worderize, you can have your home, workplace and warehouse cleaned by professional teams.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 box_industries">
                    <div class="speaker-with-bio content1 ">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" src="assets/newRenovation.png">
                            </div>
                        </div>
                        <div class="speaker-description ">
                            <span>RENOVATION</span>
                        </div>
                    </div>
                    <div class="speaker-with-bio content2">
                        <div class="center-aligned">
                            <div class="center-core">
                                <div class="cap-text-head"> <span>RENOVATION</span></div>
                                <br>
                                <div class="cap-text">
                                    <p>By using Worderize, you can get repair service by professional teams that provide renovation services.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 box_industries">
                    <div class="speaker-with-bio content1 ">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" src="assets/newGrocery.png">
                            </div>
                        </div>
                        <div class="speaker-description ">
                            <span>GROCERY</span>
                        </div>
                    </div>
                    <div class="speaker-with-bio content2">
                        <div class="center-aligned">
                            <div class="center-core">
                                <div class="cap-text-head"> <span>GROCERY</span></div>
                                <br>
                                <div class="cap-text">
                                    <p>Using Worderize, you can order your market needs to your home or workplace.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 box_industries">
                    <div class="speaker-with-bio content1 ">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" src="assets/newTransportation.png">
                            </div>
                        </div>
                        <div class="speaker-description ">
                            <span>TRANSPORTATION</span>
                        </div>
                    </div>
                    <div class="speaker-with-bio content2">
                        <div class="center-aligned">
                            <div class="center-core">
                                <div class="cap-text-head"> <span>TRANSPORTATION</span></div>
                                <br>
                                <div class="cap-text">
                                    <p>By using Worderize, you can transport your home or business by professional teams that provide transportation services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Work with us -->
    <section class="section-margins work-with-us">
        <div class="indus">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="row wwu">
                        <div id="wwu-div">
                            <i class="fa fa-users"></i>
                            <p id="fa-users-p">Just register and write to us what you need and where you need it, so the process can begin.</p>
                        </div>
                    </div>
                    <div class="row wwu">
                        <div id="wwu-div">
                            <i class="fa fa-briefcase"></i>
                            <p id="fa-briefcase-p">Just register and share your information with us to become a courier and choose your job from the work orders received.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Woderize? -->
    <section class="section-margins ">
        <div class="indus ">
            <div class="row why-worderize">
                <h1 id="why-header">WHY WORDERIZE</h1>
            </div>
            <div class="row ">
                <div class="col-md-4 center">
                    <img class="img-fluid " src="assets/support.png ">
                    <div class="why-us">
                        <h2 class="head2">24/7 Support</h2>
                        <p class="head2">Worderize provides transportation to your wishes and needs wherever you are and provide 24/7 support for your needs.</p>
                    </div>
                </div>
                <div class="col-md-4 center">
                    <img class="img-fluid " src="assets/easy2.png ">
                    <div class="why-us ">
                        <h2>Easy to Use</h2>
                        <p>Worderize lets you start the process by simply registering and telling what you want and where you want it.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 center">
                    <img class="img-fluid " src="assets/prof.png ">
                    <div class="why-us ">
                        <h2 class="head2 ">Professionalism</h2>
                        <p class="head2 ">Worderize categorizes your requests and matches you with whoever is an expert on that job and aproved by Worderize.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Be an employee-->
    <section class="employee">
        <br><br>
        <div class="indus be-an-emp ">
            <div class="row inline">
                <h1 class="font-family-angular main-color bold">Be an Employee</h1>
                <br>
                <h3 class="font-family-angular ">Just click to the sign up button and fill the necessary fields, we will contact you after your membership is approved.</h3>
            </div>
        </div>
    </section>
    <!-- About us-->
    <section id="about_us">
        <div class="footer-container">
            <div class="indus ">
                <footer class="short footer ">
                    <div class="container height">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="main-color">
                                    <span class="bold">ABOUT US</span>
                                </h2>
                                <p class="main-color about-p">Worderize is an on-demand location work order distribution system that is reachable on web platform. A work order is a task or job that can be scheduled and assigned to someone who wants it. With Worderize we are aiming
                                    to achieve that by creating work orders asynchronously, manage work orders easily. Users can create work orders for their needs in various fields and they can see their work order status. Workers can choose the region
                                    they want to work and get the jobs they want. According to the job description, with the matching algorithm, related workers will be informed about the job.</p>
                            </div>
                            <div class="col-sm-4 ">
                                <h2>
                                    <span>CONTACT</span>
                                </h2>
                                <ul class="footer-contact ">
                                    <li class="contactlist "><i class="fa fa-home "></i> <span>Address: Üniversiteler Mahallesi 1596 Cadde 5. AR-Ge Binası No: 8B Kat: 3 / 12 Beytepe 06800 Çankaya / Ankara</span></li>
                                    <li class="contactlist "><i class="fa fa-phone "></i> <span>Phone: 0312 491 28 13</span></li>
                                    <li class="contactlist "><i class="fa fa-envelope-open "></i> <span>Email: worderize@gmail.com</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- Copyright -->
            <div class="copyright">
                <div class="row m-0">
                    <div class="col-sm-7 copy-p">
                        © Copyright 2021 | WORDERIZE All rights reserved
                    </div>
                    <div class="col-sm-5 main-color copy-icons">
                        <a href="https://www.facebook.com/worderize">
                            <i class="fab fa-facebook-f social-icon "></i>
                        </a>
                        <a href="https://www.twitter.com/worderize">
                            <i class="fab fa-instagram social-icon "></i>
                        </a>
                        <a href="https://www.instagram.com/worderize">
                            <i class="fab fa-twitter social-icon "></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
