<div class="grid-container">
  <h1 class="mat-h1">Contact Us</h1>
  <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" cols="2" rowHeight="330px">
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <form class="example-form"  novalidate [formGroup]="form" method="post" (ngSubmit)="onSubmit()" >

          <div id="form-h">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" name="title" ngModel input [formControl]="name"
                     required>
              <mat-hint>Enter Your Full Name</mat-hint>
            </mat-form-field>

            <br><br>

            <mat-form-field appearance="outline">
              <mat-label>E-Mail</mat-label>
              <input matInput type="text" name="title" ngModel [formControl]="email" required>
              <mat-hint>Enter Your E-Mail Address</mat-hint>
            </mat-form-field>

            <br><br>

            <mat-form-field class="example-full-width">
              <mat-label>Message</mat-label>
              <textarea [formControl]="message" class="text-areas" matInput name="description" ngModel ></textarea>
              <mat-hint>Enter Message</mat-hint>
            </mat-form-field>

          </div>

          <br>

          <div style="display: inline-flex">

            <div class="example-button-container">
              <button class="btn-contact" [disabled]="isLoading" mat-raised-button type="submit">Send Message</button>
            </div>
          </div>

        </form>

      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
