<div class="grid-container">
  <h1 class="mat-h1">Home</h1>
  <mat-grid-list cols="3" rowHeight="380px">


    <mat-grid-tile colspan="3">
      <mat-card class="dashboard-card mat-elevation-z8">
        <!--<mat-card-header>Worker
          <mat-card-title>WELCOME
          </mat-card-title>
        </mat-card-header>-->
        <img src="./assets/initialCustomerHome.png" style="min-width: max-content;">
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8" style="display: flex;justify-content: center;align-items: center;">


        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./assets/giveWorderNow.png">
            </div>
            <div class="flip-card-back" routerLink="/nav/home">
              <img src="./assets/giveWorderNow.png">
            </div>
          </div>
        </div>

      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header class="initial-card-header" style="margin-top: 20px;">
          <mat-card-title style="position:absolute;height: 30px;margin-top: 240px;font-size: 30px;font-family: 'Titillium Web', sans-serif">
          </mat-card-title>
        </mat-card-header>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="background-image img-fluid" src="./assets/contactRework2.png">
            </div>
            <div class="flip-card-back" routerLink="/nav/contact-customer">
              <img class="background-image img-fluid" src="./assets/contactRework2.png">
            </div>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header class= "initial-card-header" style="margin-top: 20px;">Ankara
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./assets/ankaraReworkNoBG.png">
            </div>
            <div class="flip-card-back">
              <img src="./assets/ankaraReworkNoBG.png">
            </div>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>

</div>
