<form class="example-form"  #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" type="text" name="title" ngModel>
    <mat-hint>Başlığı giriniz</mat-hint>
  </mat-form-field>
  <br><br>
  <mat-form-field appearance="outline">
    <mat-label>Job Description</mat-label>
    <input matInput placeholder="Job Description" type="text" name="job" ngModel>
    <mat-hint>İş tanımı</mat-hint>
  </mat-form-field>
  <br><br>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="selectedValuetype" name="type">
      <mat-option *ngFor="let type of types" [value]="type.valuetype">
        {{type.viewValuetype}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br><br>
  <mat-form-field class="example-full-width">
    <mat-label>Telephone</mat-label>
    <span matPrefix>+90 &nbsp;</span>
    <input type="tel" name="telephone" ngModel matInput placeholder="534-283-22-05">
  </mat-form-field>
  <br><br>
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="city">
      <mat-option *ngFor="let city of cities" [value]="city.value">
        {{city.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field appearance="fill">
      <mat-label>Region</mat-label>
      <mat-select [(ngModel)]="selectedValueregion" name="region">
        <mat-option *ngFor="let region of regions" [value]="region.valueregion">
          {{region.viewValueregion}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput name="address" ngModel ></textarea>
    </mat-form-field>
  <br><br>
  <div class="example-button-container">
      <button mat-raised-button color="primary" type="submit">Create Work Order</button>
  </div>
</form>