.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-grid-list img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 100%;
  max-width:350px ;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.initial-card-header{
  position: absolute;
  font-size: 50px;
  color: #470000;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bolder;
}

mat-card a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  padding: 12px;
  border-radius: 7px;
  background-color: #470000;
  color: #ff9900;
  text-decoration: none;
}
