<div class="grid-container">
  <h1 class="mat-h1">Profile</h1>
  <mat-grid-list cols="2" rowHeight="360px">


    <mat-grid-tile colspan="2">
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>User Profile
          </mat-card-title>
        </mat-card-header>
        <!-- Show user data when logged in -->
        <div *ngIf="authService.userData as user" style="padding-top: 25px; padding-left: 15px;">
          <div style="display: inline-flex">
            <div>
              <img style="border-radius:9px;height: 200px;width: 200px;" class="img-fluid" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                   alt="{{user.displayName}}">

            </div>
            <div style="padding-left: 50px;">
              <h1>Hello...  <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
              <p><span style="font-size: 18px;font-weight: bold;margin-bottom: 3px;">User ID |</span> <strong style="margin-left: 5px">{{user.uid}}</strong></p>
              <p><span style="font-size: 18px;font-weight: bold;margin-bottom: 3px;">E-mail |</span> <strong style="margin-left: 5px">{{user.email}}</strong></p>
              <p><span style="font-size: 18px;font-weight: bold;margin-bottom: 3px;">E-mail Verified |</span> <strong style="margin-left: 5px">{{user.emailVerified}}</strong></p>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="dashboard-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>
</div>
